apiVersion: apps/v1
kind: Deployment
metadata:
  name: tradingview-webhook-app
  namespace: tv
  labels:
    app: tradingview-webhook
spec:
  replicas: 1
  selector:
    matchLabels:
      app: tradingview-webhook
  template:
    metadata:
      labels:
        app: tradingview-webhook
    spec:
      containers:
      - name: tradingview-webhook
        image: kdoan/tradingview-webhook:latest
        imagePullPolicy: Always
        ports:
          - containerPort: 8000
        env:
          - name: ALPACA_API_KEY
            valueFrom:
              secretKeyRef:
                name: python-config
                key: ALPACA_API_KEY
          - name: ALPACA_SECRET_KEY
            valueFrom:
              secretKeyRef:
                name: python-config
                key: ALPACA_SECRET_KEY