name: Deploy to Kubernetes

on:
  push:
    branches:
      - main  # Trigger on push to the main branch
  workflow_dispatch:  # Allow manual triggering of the workflow

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v5
      with:
        push: true
        tags: |
          kdoan/tradingview-webhook:latest
          kdoan/tradingview-webhook:${{ github.run_number }}-${{ github.run_attempt }}
  
  deploy:
    runs-on: ubuntu-latest
    needs: [ build ]
    steps:
    - name: Set up Kubectl
      uses: azure/setup-kubectl@v3

    - name: Load Kube config
      uses: azure/k8s-set-context@v3
      with:
        method: kubeconfig
        kubeconfig: ${{ secrets.KUBE_CONFIG }}

    - name: Deploy a secret
      uses: azure/k8s-create-secret@v2
      with:
        namespace: 'tv'
        secret-type: 'generic'
        secret-name: gateway-secret
        string-data: '{ "users": "${{ secrets.GATEWAY_BASICAUTH }}" }'

    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Deploy to the Kubernetes cluster
      uses: Azure/k8s-deploy@v4
      with:
        namespace: 'tv'
        manifests: |
          templates
        images: 'kdoan/tradingview-webhook:${{ github.run_number }}-${{ github.run_attempt }}'

    # - name: Deploy to Kubernetes
    #   run: |
    #     kubectl create secret generic python-config \
    #       --save-config \
    #       --dry-run=client \
    #       --from-literal=ALPACA_API_KEY=${{ secrets.ALPACA_API_KEY }} \
    #       --from-literal=ALPACA_SECRET_KEY=${{ secrets.ALPACA_SECRET_KEY }} \
    #       -n tv \
    #       -o yaml | \
    #       kubectl apply -f -
    #     kubectl apply -f templates/deployment.yaml
    #     kubectl apply -f templates/service.yaml
    #     kubectl apply -f templates/certificate.yaml
    #     kubectl apply -f templates/ingressRoute.yaml